body {
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header>div {
  width: 75%;
  border: 1px dotted;
  margin: 1rem;
}

header>div>* {
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  text-align: center;
}

table,
th,
td {
  border: 0.5px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 8px;
  margin-top: 20px;
}

.nav_div {
  position: absolute;
}

.nav_pic {
  position: relative;
  margin-right: 12%;
  margin-left: 12%;
  width: 75%;
  height: auto;
}

#text_css_html {
  margin-left: 0px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

img {
  width: 100%;
  margin: 0 auto;
}