@media only screen and (max-width: 800px){
    body{
        font-size: 20rem;
    }
}

body {
    width: 85vw;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    font: large "Comic Sans MS";
}

html {
    background-color: #eaeaea;
}

h1{
    padding-top: 20px ;
}
h1, h2 {
    text-align: center;
}

div {
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

.container > * {
    border-top: 2px dotted black;
    padding: 0.5rem;
	/*transition: transform .5s ease-in-out;*/
}

/*.container > *:hover {*/
/*    transform: rotate(3600deg) scale(1.2);*/
/*}*/

header {
    text-align: center;
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/*.about-image:hover {*/
/*    transform: rotate(5deg) scale(1.1);*/
/*}*/

/*.rot {*/
/*    transform: rotate(180deg);*/
/*}*/