* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (min-width: 1200px) */

body {
  width: 100%;
  color: #333;
  background-color: #f3f5e8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  width: 85vw;
  /*margin: 2% auto;*/
}
@media screen and (max-width:800px) {
  #aar{
    width: 500px;
  }
}
/* Ny mal kopier øverst */
