* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (min-width: 1200px) */

:root {
  --txt-color: #333;
  --txt-colorW: #f1f1f1;
  --bg-color: #f8f9ef;
  --orange: rgb(251, 157, 81);
  --green: #2c6540;
  --nav: #e8d9be;
}

body {
  width: 100%;
  /*margin: 0 auto;*/
  color: #333;
  background-color: var(--bg-color);
  font-family: "Roboto";
}

.hoved {
  margin: 5% 5% 5% 5%;
  display: block;
  width: auto;
  height: auto;
}

/* CSS for felles div's*/

#beholder {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 5%;
  column-gap: 5%;
}

#overtekst {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bilde {
  margin: 2rem 2rem 2rem 2rem;
  height: 15rem;
  width: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

#bær,
#lav,
#blomst,
#annet {
  border-style: solid;
  border-width: 4px;
  border-radius: 3px;
}

#bær {
  border-color: rgb(80, 155, 193);
}
#lav {
  border-color: rgb(137, 153, 161);
}
#blomst {
  border-color: rgb(198, 203, 105);
}
#annet {
  border-color: rgb(128, 91, 18);
}

#middel {
  display: none;
  height: 270px;
}

@media screen and (min-width: 980px) {
  #beholder {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 980px) {
  #beholder {
    display: grid;
    grid-template-columns: auto;
  }
  #middel {
    display: block;
  }
}
