* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (min-width: 1200px) */

:root {
  --txt-color: #333;
  --txt-colorW: #f1f1f1;
  --bg-color: #f8f9ef;
  --orange: rgb(251, 157, 81);
  --green: #2c6540;
  --nav: #e8d9be;
}

body {
  width: 100%;
  /*margin: 0 auto;*/
  color: #333;
  background-color: var(--bg-color);
  font-family: "Roboto";
}

.sopp-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.sopp-container > div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.sopp-img {
  display: block;
  align-self: center;
  flex: 1 1 100%;
  min-width: 0;
  flex-basis: 20rem;
}

.sopp-img > img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.sopp-desc {
  display: block;
  flex: 1 1 100%;
  min-width: 0;
  flex-basis: 30rem;
}
