body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-color: white;

  margin: 0 auto;
  text-align: center;
}
main {
  width: 70vw;
  margin: auto;
  margin-bottom: 4rem;
}

* {
  box-sizing: border-box;
}

:root {
  --nav-color: #e8d9be;
}
#navbar {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 10%;
  padding-left: 1%;

  background-color: var(--nav-color);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  z-index: 1;
}

#navbar a {
  text-decoration: none;
  color: #333;
}

#navbar a:hover {
  filter: invert(0.2);
}

.far:hover {
  filter: (0.2);
}

.aarets {
  font-size: 1.2rem;
  color: black;
}

.aarets:hover {
  border-bottom: solid 2px #d5e6a4;
}

#aar {
  width: 700px;
}

/* default: wide */
#ikon-only {
  display: none;
  height: 4rem;
  margin-bottom: 1px;
}
#ikon {
  display: flex;
  height: 4rem;
}

/* only logo, no text */
@media screen and (max-width: 900px) {
  #ikon-only {
    display: flex;
  }
  #ikon {
    display: none;
  }
}

#ikon:hover {
  opacity: 0.9;
}

.dropdown-content {
  display: none;
  position: absolute;
  transform: translateX(-35%);
  background-color: #f9f9f9;
  padding: 1rem 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #ecf3d8;
}

.meny {
  font-size: 1.2rem;
}

.meny:hover .dropdown-content {
  display: block;
}

#footer {
  background-color: var(--nav-color);
  position: sticky;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
  line-height: 2rem;
  text-align: center;
}

footer ol {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

footer a:hover {
  text-decoration: 1.5px underline;
}

footer img {
  width: 60px;
  margin-right: 15px;
}

.end-logo {
  margin: 1% auto;
  font-size: xx-small;
  text-align: center;
}
.end-logo img {
  width: 15vw;
}
