* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (min-width: 1200px) */

:root {
  --txt-color: #333;
  --txt-colorW: #f1f1f1;
  --bg-color: #f8f9ef;
  --orange: rgb(251, 157, 81);
  --green: #2c6540;
  --nav: #e8d9be;
}

body {
  width: 100%;
  /*margin: 0 auto;*/
  color: #333;
  background-color: var(--bg-color);
  font-family: "Roboto";
}

#main {
  background-color: #2c6540;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/soppkurs3.jpg");
  background-size: cover;
  background-attachment: fixed;
  filter: saturate(1.2);
  width: 100%;
  margin: 0;
  z-index: -1;
}

section {
  width: 90%;
  margin: 0 auto;
  padding: 3%;
}

#header {
  margin: 0 auto;
  height: 100%;
  color: white;
  font-weight: 1200;
  font-size: 65px;
  letter-spacing: 2px;
  text-align: center;
}

#slideshow {
  height: 100vh;
  padding: 0;
  display: block;
  padding: 10% 0 10% 0;
}

#main-title {
  background-color: rgba(23, 23, 23, 0.6);
  color: #ffffff;
  font-size: calc(20px + 1vw);
  letter-spacing: 2px;
  font-family: "Poppins";
  width: 15ch;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 2%;
  padding-bottom: 20px;
}
.slide-img {
  opacity: 0.8;
}

.slide-img img {
  height: 45vh;
  display: block;
  margin: auto;
  margin-bottom: 1%;
}

.slide-info {
  color: #ffffff;
  line-height: 1.2;
  font: calc(28px + 1vw);
  text-align: center;
  margin: 0 auto;
  font-family: "poppins";
}

.heading {
  font-weight: 500;
  font-size: calc(1.5em + 1vw);
  text-align: center;
  margin-bottom: 2%;
}

.arr-bar {
  display: inline-block;
  width: 29%;
  font-size: 1.5rem;
  /*margin-right: 2rem;*/
}

.arr-bar p {
  text-align: left;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  max-width: 250px;
  font-size: 1.5rem;
  border: none;
  background-color: var(--bg-color);
  font-family: "Roboto";
  color: var(--txt-color);
}
.search-bar input:focus {
  outline: none;
}
::placeholder {
  font-family: "Roboto";
  color: var(--txt-color);
  opacity: 1;
  z-index: -1;
}

#flex-container-kurs,
#flex-container-bok {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  vertical-align: top;
}

.calendar-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  width: 350px;
  vertical-align: top;
  margin: 0 0.5rem 1rem 0.5rem;

  padding: 2%;

  border: solid 1px;
  border-radius: 10px;
  border-color: rgb(201, 201, 201);
}

.calendar-container:hover {
  opacity: 0.7;
  border-color: lightgray;
  cursor: pointer;
}

.calendar-container:active {
  transform: translateY(2px);
}

.date-container {
  display: inline-block;
  text-align: right;
  margin-right: 3%;
  margin-left: 3%;
  vertical-align: top;
}
#month {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 400;
}
#day {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.info-container {
  border-left: solid #333 1.5px;
  display: inline-block;
  padding-left: 5%;
  width: 70%;
  text-align: left;
}

/*.info-container > p {
    display: inline-block;
} */

#location-box {
  display: inline-block;
  background-color: #2c6540;
  color: #f1f1f1;
  border: none;
  padding: 3% 10% 3% 10%;
  margin-bottom: 5%;
  font-weight: 700;
  border-radius: 2px;
  font-size: 1rem;
}

#price-box {
  display: inline-block;
  background-color: var(--orange);
  color: #f1f1f1;
  border: none;
  padding: 3% 5% 3% 5%;
  margin-bottom: 5%;
  font-weight: 700;
  border-radius: 2px;
  font-size: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

#flex-container-bok {
  margin-top: 30px;
}

.bok-container {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.bok-container img {
  height: 270px;
}

#kurs-container,
#sopp-container {
  background-color: var(--bg-color);
}

@media (max-width: 1240px) {
  .arr-bar {
    width: 100%;
    text-align: center;
  }
  #flex-container-kurs,
  #flex-container-bok {
    width: 100%;
  }
}

@media (max-width: 440px) {
  section {
    width: 100%;
  }
}
