* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* @media (min-width: 1200px) */

body {
width: 100%;
color: #333;
background-color: #f3f5e8;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
background-image: url("../img/soppkurs3.jpg");
background-size: cover;
}

main {
width: 100vw;
margin: auto;
}

#boks{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 100px;
    width: 100vw;
    overflow-x: scroll;
    margin: auto;
    overflow-x: hidden;
    margin-bottom: 6rem;
}

.card{
    color: black;
    display: grid;
    width: 800px;
    height: 352px;
    flex-shrink: 0;
    background-color: rgba(232,217,190, 0.5)
}
#boks:first-child{
    margin-left: 5rem;
}
button{
    background-color: rgba(100,217,100, 0.9);
    border: none;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    visibility: visible;
}
@media only screen and (max-width: 600px) {
    .card{
        width: 800px;
        padding-right: 12rem;
        padding-left: 12rem;
    }
  }