* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (min-width: 1200px) */

:root {
  --txt-color: #333;
  --txt-colorW: #f1f1f1;
  --bg-color: #f8f9ef;
  --orange: rgb(251, 157, 81);
  --green: #2c6540;
  --nav: #e8d9be;
}

body {
  width: 100%;
  /*margin: 0 auto;*/
  color: #333;
  background-color: var(--bg-color);
  font-family: "Roboto";
}

.nyhet {
  background-color: #ddffdd;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
}

.nyhet > img {
  border-radius: 0.5rem;
  width: 100%;
}
